@page "/"

<PageTitle>Bienvenido</PageTitle>

<div class="container mt-4">

    <h2>De que trata este proyecto?</h2>
    
    <div class="row">
        <!--Columna Izquierda-->
        <div class="">
            <p>
                Este proyecto esta hecho con el framework de codigo abierto 
                <strong>Blazor</strong>.Este proyecto no es mas que un gestor de inventario. 
                Aqui tienes la capacidad de registrar: <strong>Productos</strong>, <strong>Bodegas</strong>,
                <strong>Categorias</strong>, y por ultimo, <strong>las entradas y salidas de productos </strong>
            </p>
        </div>
    </div>
</div>
